<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyb.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.xiaoyb.domain.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permissionName" jdbcType="VARCHAR" property="permissionname" />
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permissionName, roleId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoyb.domain.Permission">
    insert into permission (id, permissionName, roleId
      )
    values (#{id,jdbcType=INTEGER}, #{permissionname,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyb.domain.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionname != null">
        permissionName,
      </if>
      <if test="roleid != null">
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionname != null">
        #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyb.domain.Permission">
    update permission
    <set>
      <if test="permissionname != null">
        permissionName = #{permissionname,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyb.domain.Permission">
    update permission
    set permissionName = #{permissionname,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>